html {
    background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0px 0px 10px 4px #dbdbdb;
}

a {
  text-decoration: none;
}

input::-ms-clear {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  line-height: 26px;
  color: #000000;
  font-weight: 700;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
  z-index: 1;
}

.site-navigation,
.reason-list,
.truecity-list,
.hotel-list-sort-type-list,
.hotel-list-sort-dir-list,
.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:not([href]) {
  color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.welcome {
  height: 508px;
  text-align: center;
  position: relative;

  background: #9c807c url("../img/welcome-background.jpg") no-repeat 50% -83px;
  background-size: cover;
}

.welcome::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  background-image: url("../img/welcome-bottom-border.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
}

.welcome img {
  width: 458px;
  height: 352px;
  margin-top: 76px;
}

.reason-item {
  text-align: center;
  flex-grow: 1;
  background-color: #eeeeee;
}

.reason-item h2 {
  line-height: 21px;
}

.truecity-list {
  color: #333333;

  background-color: #ffffff;
}

.truecity-item {
  padding: 162px 47px 68px;
  position: relative;
  min-width: 400px;
  box-sizing: border-box;
}

.truecity-item h3 {
  font-size: 21px;
  margin: 0;
}

.truecity-item p {
  margin-top: 23px;
}

.truecity-item::before {
  content: "";
  
  position: absolute;
  
  width:100%;
  height: 132px;
  
  left:0;
  top: 0;
  
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.truecity-item.housing::before {
  background-image: url("../img/icon-1.svg");
}

.truecity-item.food::before {
  background-image: url("../img/icon-3.svg");
}

.truecity-item.souvenirs::before {
  background-image: url("../img/icon-2.svg");
}

.promo {
  position: relative;
  z-index: 2;
}

.promo h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 61px;
  margin-left: 300px;
  margin-right: 300px;
}

.promo > p {
  margin-top: 29px;
  text-align: center;
}

.promo strong {
  display:block;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 52px;
  background-color: #fff;
}

.search-container {
  padding: 0;
  padding-top: 9px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.search {
  position: relative;
}

.search p {
  margin-top: 14px;
}

.search-info {
  line-height: 24px;
  text-align: center;
}

a.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 32px;
  padding-top: 31px;
  padding-bottom: 29px;
}

.search-modal label,
.search-modal input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-modal input {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
  height: 38px;
}

.search-modal input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-modal input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-modal {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 55px;
  padding-top: 55px;
  background-color: white;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

@keyframes show-search-modal {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

.search-modal:target,
.search-modal-show {
  box-shadow: 0 7px 15px 1px rgba(0, 1, 1, 0.15);
  transform: translateY(100%);
  
  animation: show-search-modal 0.5s;
}

@keyframes hide-search-modal {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.search-modal-hide {
  animation: hide-search-modal 0.5s;
}

.search-modal,
.search-button {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.search-modal button[type="submit"] {
  margin-top: 54px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 15px;
}

.search-modal input.date {
  padding-left: 11px;
  padding-right: 33px;
  text-transform: uppercase;
}

.map {
  margin-bottom: -120px;
}

.map img {
  display: block;
}

.button {
  font: inherit;

  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.brown-button {
  background-color: #766357;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  background-color: #503e33;
}

.blue-button {
  background-color: #81b3d2;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}

.blue-button:active {
  background-color: #5496bd;
}

.filter-form {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background: #627788 url("../img/filter-background.jpg") 50% 50%;
  background-size: 100% auto;
}

.filter-form legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-form fieldset {
  border: none;
}

.transparent-button {
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.transparent-button:hover,
.transparent-button:focus,
.transparent-button:active {
  color: #000000;

  background-color: #ffffff;
}

.hotel-count {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 71px;
  margin-top: 31px;
  position: absolute;
}

.hotel-list-header {
  font-size: 12px;
  line-height: 18px;
}

.hotel-list-header h2 {
  font-size: 12px;
  font-weight: 400;
}

.hotel-list-sort-type-item a {
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;

  border-bottom: 1px dotted #81b3d2;
}

.hotel-list-sort-type-item a.active {
  color: #81b3d2;

  border: none;
}

.hotel-list-sort-type-item a:hover,
.hotel-list-sort-type-item a:focus {
  color: #81b3d2;
}

.hotel-list-sort-type-item a:active {
  color: #000000;

  border: none;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.footer-sedona-hashtag {
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  align-items:center;
  padding: 15px 71px;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
  text-align: left;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: auto;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: auto;
}

.site-navigation li:nth-child(4n+4),
.site-navigation li:nth-child(4n+3) {
  text-align: right;
}

.reason-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 53px;
  counter-reset: reason-counter;
}

.reason-list .reason-item {
  counter-increment: reason-counter;
}

.truecity-list {
  display: flex;
  flex-direction: row;
}

.truecity-list li {
  flex-basis: 0;
  flex-grow: 1;
}

.reason-item-with-photo {
  color: #ffffff;
  background-color: #81b3d2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.reason-item-with-photo.reverse-order {
  flex-direction: row-reverse;
}

.reason-item-with-photo img {
  flex-grow: 1;
  width: 800px;
  height: 256px;
}

.reason-item-wrapper {
  width: 400px;
  box-sizing: border-box;
  padding: 48px 0 45px;
  position: relative;
}

.reason-item-wrapper h2 {
  margin: 0;
}

.reason-item-wrapper p {
  margin-top: 65px;
}

.reason-item-wrapper::before {
  content: "— №" counter(reason-counter) " —";
  position: absolute;
  top: 113px;
  left: 174px;
}

.guest-counter-wrapper {
  display: flex;
  flex-direction: row;
}

.form-content-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-content-row:not(:first-child) {
  margin-top: 29px;
}

.form-content-row.guest-counters:not(:first-child) {
  margin-top: 30px;
}

.form-content-row label:first-of-type {
  width: 112px;
}

.form-content-row input {
  box-sizing: border-box;
  width: 100px;
  flex-grow: 1;
}

.form-field-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.form-field-button {
  position: absolute;
  height: 38px;
}

.form-field-decrement-button {
  width: 38px;
  left: 0;
  top: 0;
}

.form-field-increment-button {
  width: 39px;
  right: 0;
  top: 0;
}

.form-field-decrement-button::before,
.form-field-increment-button::before,
.form-field-increment-button::after {
  content: "";
  display: block;
  background-color: #a9a9a9;
  position: absolute;
}

.form-field-button:hover::before,
.form-field-button:hover::after,
.form-field-button:focus::before,
.form-field-button:focus::after {
  background-color: #000000;
}

.form-field-button:active::before,
.form-field-button:active::after {
  background-color: #81b3d2;
}

.form-field-decrement-button::before,
.form-field-increment-button::before {
  height: 3px;
  top: 18px;
}

.form-field-decrement-button::before {
  left: 13px;
  width: 12px;
}

.form-field-increment-button::before {
  right: 14px;
  width: 11px;
}

.form-field-increment-button::after {
  width: 3px;
  height: 11px;
  right: 18px;
  top: 14px;
}

.form-content-row .form-field-wrapper {
  flex-grow: 1;
}

.form-content-row.guest-counters input {
  text-align: center;
}

.form-content-row.guest-counters label:not(:first-of-type) {
  width: 118px;
  box-sizing: border-box;
  padding-left: 54px;
}

.filter-form {
  display: flex;
  flex-direction: row;
  padding: 28px 58px;
}

.filter-form input[type="checkbox"] ~ label {
  padding-left: 40px;
  position: relative;
}

.filter-form input[type="checkbox"] ~ label::before {
  content: "";
  position: absolute;
  background: url("../img/checkbox-off.svg") no-repeat 50% 50%;
  width: 31px;
  height: 31px;
  left: -3px;
  top: -7px;
}

.filter-form input[type="checkbox"]:focus ~ label::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-form input[type="checkbox"]:checked ~ label::before {
  background-image: url("../img/checkbox-on.svg");
  background-position: 4px 4px;
}

.filter-form input[type="checkbox"]:disabled ~ label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-form input[type="checkbox"]:checked:disabled ~ label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-form fieldset.filter-form-column {
  padding: 24px 11px 3px;
}

.filter-form-row:not(:first-of-type) {
  margin-top: 25px;
}

.filter-form-column:not(:first-child) {
  margin-left: 97px;
}

.filter-form-column:last-child {
  margin-left: auto;
}

.filter-form-checkbox::before {
  content: "";
  background-image: url("../img/checkbox-on.svg")
}

.filter-form button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 6px 33px 5px 34px;
}

.hotel-list-header,
.hotel-list-sort-type-list,
.hotel-list-sort-dir-list {
  display: flex;
  flex-direction: row;
}

.hotel-list-sort-type-list {
  flex-grow: 1;
}

.hotel-list-header h2 {
  margin: 0;
}

.hotel-list-header {
  padding-left: 235px;
  padding-top: 36px;
  padding-bottom: 32px;
  padding-right: 73px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-list-sort-type-list {
  margin-left: 40px;
}

.hotel-list-sort-type-list li:not(:first-child) {
  margin-left: 33px;
}

.hotel-item {
  padding: 25px 71px;
  padding-right: 73px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item > td {
  display: block;
}

.hotel-list {
  display: block;
}

.hotel-list tbody {
  display: flex;
  flex-direction: column;
}

.hotel-name {
  margin-left: 28px;
  margin-right: auto;
  min-width: 62%;
  max-width: 72%;
}

.hotel-stars {
  width: 17px;
  height: 24px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: 0 4px;
}

.hotel-stars.two-stars {
  width: 38px;
}

.hotel-stars.three-stars {
  width: 62px;
}

.hotel-stars.four-stars {
  width: 87px;
}

.hotel-stars.five-stars {
  width: 88px;
}

.hotel-price-wrapper {
  margin-left: 4px;
  margin-right: auto;
}

.hotel-img {
  margin-top: 4px;
  order: -1;
  height: 26px;
}

.hotel-type-wrapper {
  margin-left: 165px;
}

.hotel-type-wrapper p,
.hotel-price-wrapper p {
  margin: 0;
}

.hotel-type-wrapper a,
.hotel-price-wrapper a {
  margin-top: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.hotel-rating {
  color: #666666;

  background-color: #f2f2f2;

  align-self: flex-end;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 12px;
  padding-bottom: 3px;
  margin-bottom: 1px;
}

.hotel-rating::before {
  content: "Рейтинг: ";
}

.hotel-info-button {
  display: block;
  padding: 0 17px;
}

.book-it-hotel-button {
  display: block;
  padding: 0 17px;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  position: relative;
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-column {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.main-footer,
.footer-social-list,
.footer-htmlacademy-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.footer-social-list {
  justify-content: space-between;
  margin: 0 auto;
  width: 150px;
}

.footer-htmlacademy-copyright span {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-left: 2px;
}

.footer-htmlacademy-copyright:hover path,
.footer-htmlacademy-copyright:focus path {
  fill: #81b3d2;
}

.footer-htmlacademy-copyright:active path {
  fill: #bdbbbc;
}

.footer-htmlacademy-logo {
  margin-left: 9px;
  margin-bottom: 1px;
}

.filter-range {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 22px;
  margin-right: 3px;
}

.price-controls {
  position: relative;
  display: flex;
  
  height: 32px;
  width: 314px;
  margin-top: 4px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  flex-basis: 50%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  padding-left: 64px;
}

.price-controls .max-price {
  padding-left: 54px;
}

.price-controls input {
  width: 50px;
  height: 100%;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 252px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width:46px;
  height: 48px;
  
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.calendar-icon {
  position: absolute;
  top: 8px;
  right: 9px;
  cursor: pointer;
}

.calendar-icon path {
  fill: #a9a9a9;
}

.calendar-icon:hover path,
.calendar-icon:focus path {
  fill: #000000;
}

.calendar-icon:active path {
  fill: #81b3d2;
}

.hotel-list-sort-dir-list {
  justify-content: space-between;
  align-items: center;
}

.hotel-list-sort-dir-item {
  height: 100%;
}

.hotel-list-sort-dir-item a {
  width: 17px;
  height: 100%;
  display: flex;
  align-items: center;
}

.sort-dir-asc {
  justify-content: flex-start;
}

.sort-dir-desc {
  justify-content: flex-end;
}

.sort-dir-desc svg {
  margin-bottom: 2px;
}

.hotel-list-sort-dir-item path {
  fill: #cacaca;
}

.hotel-list-sort-dir-item.active path {
  fill: #81b3d2;
}

@keyframes field-error {
  from {
    border-color: red;
  }
  to {
    border-color: #f2f2f2;
  }
}

.field-error {
  animation: field-error 1s;
}

.map-container {
  width: 1200px;
  height: 593px;
}
